body {
  margin: 0px;
}

h1 {
  font-size: 40px;
  color: #666;
  font-family: Roboto, Arial;
  font-weight: normal;
}

h3 {
  font-size: 28px;
  color: #E31718;
  font-family: Roboto,Arial;
  font-weight: normal;
  margin-bottom: 0px;
}

p {
  font-family: Roboto,Arial;
  font-size: 18px;
  color: #333;
}
